Node-RED/example-flow.json
[
    {
        "id": "179365e6.80a25a",
        "type": "tab",
        "label": "Tasmota prod",
        "disabled": true,
        "info": ""
    },
    {
        "id": "93b4298a.8090b8",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/prices",
        "qos": "",
        "retain": "true",
        "broker": "a521b92e.e146e",
        "x": 891,
        "y": 186,
        "wires": []
    },
    {
        "id": "589f856e.df909c",
        "type": "http request",
        "z": "179365e6.80a25a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/prices?date={{payload}}",
        "tls": "",
        "x": 639,
        "y": 187,
        "wires": [ [ "93b4298a.8090b8" ] ]
    },
    {
        "id": "2e8d234c.3213ec",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "timeConvert",
        "func": "var today = new Date();\nif (today.getHours() > 20) {\n    today.setDate(today.getDate() + 1);\n}\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; //January is 0!\n\nvar yyyy = today.getFullYear();\nif(dd<10){\n    dd='0'+dd;\n} \nif(mm<10){\n    mm='0'+mm;\n} \nmsg.payload = dd+'-'+mm+'-'+yyyy;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 399.5,
        "y": 187,
        "wires": [ [ "589f856e.df909c" ] ]
    },
    {
        "id": "f6258c45.e18b2",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 191,
        "y": 187,
        "wires": [ [ "2e8d234c.3213ec" ] ]
    },
    {
        "id": "d55f56ee.eb7a58",
        "type": "json",
        "z": "179365e6.80a25a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 372,
        "y": 429,
        "wires": [ [ "e10f9bee.7d23f8" ] ]
    },
    {
        "id": "80a8d194.8ba52",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/powerHistory",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 296,
        "y": 755,
        "wires": [ [ "a9f11d40.1884d" ] ]
    },
    {
        "id": "e10f9bee.7d23f8",
        "type": "change",
        "z": "179365e6.80a25a",
        "name": "get only power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 543,
        "y": 429,
        "wires": [ [ "25af066f.736d5a" ] ]
    },
    {
        "id": "365d2c9d.a823a4",
        "type": "file",
        "z": "179365e6.80a25a",
        "name": "",
        "filename": "powerHistory",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 975,
        "y": 88,
        "wires": []
    },
    {
        "id": "37b4e4c7.3ddfac",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 759,
        "y": 88,
        "wires": [ [ "365d2c9d.a823a4" ] ]
    },
    {
        "id": "25af066f.736d5a",
        "type": "journal",
        "z": "179365e6.80a25a",
        "name": "Journal",
        "max": "360",
        "persist": true,
        "persistInterval": 59,
        "storeName": "powerJournal",
        "clocked": false,
        "clockInterval": "10",
        "keysToAverage": "",
        "topicSuffix": "/journal",
        "x": 748,
        "y": 432,
        "wires": [
            [ "510087d8.002e98", "747c2b7d.7f64a4" ],
            []
        ]
    },
    {
        "id": "510087d8.002e98",
        "type": "debug",
        "z": "179365e6.80a25a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 985,
        "y": 414,
        "wires": []
    },
    {
        "id": "747c2b7d.7f64a4",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "Store in memory",
        "func": "\n\nglobal.set(\"powerJournal\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 988,
        "y": 356,
        "wires": [ [] ]
    },
    {
        "id": "a9f11d40.1884d",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "get values from memory",
        "func": "// Access the node's context object\n//var context = this.context();\nmsg.payload = global.get(\"powerJournal\");\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552,
        "y": 754,
        "wires": [ [ "b1b0a706.eaad38", "e01ae986.e8c938" ] ]
    },
    {
        "id": "e01ae986.e8c938",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 769,
        "y": 781,
        "wires": []
    },
    {
        "id": "b1b0a706.eaad38",
        "type": "debug",
        "z": "179365e6.80a25a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 791,
        "y": 715,
        "wires": []
    },
    {
        "id": "54300ec8.76bad",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "Inject one to store values in memory",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 453,
        "y": 371,
        "wires": [ [ "25af066f.736d5a" ] ]
    },
    {
        "id": "adf87f57.301a7",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/teleperiod",
        "qos": "",
        "retain": "true",
        "broker": "a521b92e.e146e",
        "x": 473,
        "y": 29,
        "wires": []
    },
    {
        "id": "3b719675.8611ca",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "Tele period a 10s",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 225,
        "y": 27,
        "wires": [ [ "adf87f57.301a7" ] ]
    },
    {
        "id": "c1a287b7.506be8",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/sensorretain",
        "qos": "",
        "retain": "true",
        "broker": "a521b92e.e146e",
        "x": 490,
        "y": 77,
        "wires": []
    },
    {
        "id": "6086e20b.0e5adc",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "set retain sensor",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 225,
        "y": 98,
        "wires": [ [ "c1a287b7.506be8" ] ]
    },
    {
        "id": "868edd73.92de2",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "status retain sensor",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 63,
        "wires": [ [ "c1a287b7.506be8" ] ]
    },
    {
        "id": "82dfba00.2a1828",
        "type": "mqtt in",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "tele/sonoff/SENSOR",
        "qos": "2",
        "broker": "a521b92e.e146e",
        "x": 159,
        "y": 509,
        "wires": [ [ "374a0d3a.882052", "d55f56ee.eb7a58" ] ]
    },
    {
        "id": "40ab9684.b40ab8",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "Store in memory",
        "func": "\n\nglobal.set(\"sensorStatus\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 539,
        "y": 499,
        "wires": [ [] ]
    },
    {
        "id": "9a2152db.cf3c4",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 242,
        "y": 1013,
        "wires": [ [ "6151afc5.df51a" ] ]
    },
    {
        "id": "6151afc5.df51a",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "get power values from memory",
        "func": "// Access the node's context object\n//var context = this.context();\nmsg.payload = global.get(\"sensorStatus\");\nmsg.payload.POWER = global.get(\"power\");\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 507,
        "y": 1013,
        "wires": [ [ "90c04c8c.07e0e", "be6a3bef.7783c8" ] ]
    },
    {
        "id": "be6a3bef.7783c8",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1042,
        "wires": []
    },
    {
        "id": "90c04c8c.07e0e",
        "type": "debug",
        "z": "179365e6.80a25a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 785,
        "y": 959,
        "wires": []
    },
    {
        "id": "627a77b0.456438",
        "type": "mqtt in",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "tele/sonoff/STATE",
        "qos": "2",
        "broker": "a521b92e.e146e",
        "x": 157,
        "y": 560,
        "wires": [ [ "458ffc62.a35954", "48c183a2.b89e7c" ] ]
    },
    {
        "id": "aec61875.7d8a28",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "Store in memory power",
        "func": "\nif ('POWER' in msg.payload)\n    global.set(\"power\",msg.payload.POWER);",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 547,
        "wires": [ [] ]
    },
    {
        "id": "458ffc62.a35954",
        "type": "json",
        "z": "179365e6.80a25a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 368,
        "y": 558,
        "wires": [ [ "aec61875.7d8a28", "35e501f4.95dd3e" ] ]
    },
    {
        "id": "374a0d3a.882052",
        "type": "json",
        "z": "179365e6.80a25a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 371,
        "y": 503,
        "wires": [ [ "40ab9684.b40ab8" ] ]
    },
    {
        "id": "bdbe178.1de76e8",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/status",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1101,
        "wires": [ [ "6a74fc86.118a34", "bfbff5d4.232578", "436e1835.10ecc8" ] ]
    },
    {
        "id": "fac148cb.5d4308",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/POWER",
        "qos": "",
        "retain": "",
        "broker": "a521b92e.e146e",
        "x": 745,
        "y": 1090,
        "wires": []
    },
    {
        "id": "bfbff5d4.232578",
        "type": "change",
        "z": "179365e6.80a25a",
        "name": "get only power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 464,
        "y": 1086,
        "wires": [ [ "fac148cb.5d4308", "69b3e2a3.9176dc" ] ]
    },
    {
        "id": "436e1835.10ecc8",
        "type": "debug",
        "z": "179365e6.80a25a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 478,
        "y": 1186,
        "wires": []
    },
    {
        "id": "69b3e2a3.9176dc",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 688,
        "y": 1154,
        "wires": []
    },
    {
        "id": "6a74fc86.118a34",
        "type": "json",
        "z": "179365e6.80a25a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 276,
        "y": 1101,
        "wires": [ [ "bfbff5d4.232578", "436e1835.10ecc8" ] ]
    },
    {
        "id": "69dddcbf.e55c2c",
        "type": "mqtt in",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "stat/sonoff/RESULT",
        "qos": "2",
        "broker": "a521b92e.e146e",
        "x": 153,
        "y": 615,
        "wires": [ [ "458ffc62.a35954" ] ]
    },
    {
        "id": "35e501f4.95dd3e",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "Store timers in memory",
        "func": "var timers = global.get(\"timers\");\n\nif (!timers || timers === undefined)\n    timers = [{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{}];\n\n// check bulk message\nif ('Timers1' in msg.payload){\n    var timer = msg.payload.Timers1;\n    timers[0] = timer.Timer1;\n    timers[1] = timer.Timer2;\n    timers[2] = timer.Timer3;\n    timers[3] = timer.Timer4;\n}\n\nif ('Timers2' in msg.payload){\n    var timer = msg.payload.Timers2;\n    timers[4] = timer.Timer5;\n    timers[5] = timer.Timer6;\n    timers[6] = timer.Timer7;\n    timers[7] = timer.Timer8;\n}\n\nif ('Timers3' in msg.payload){\n    var timer = msg.payload.Timers3;\n    timers[8] = timer.Timer9;\n    timers[9] = timer.Timer10;\n    timers[10] = timer.Timer11;\n    timers[11] = timer.Timer12;\n}\n\nif ('Timers4' in msg.payload){\n    var timer = msg.payload.Timers4;\n    timers[12] = timer.Timer13;\n    timers[13] = timer.Timer14;\n    timers[14] = timer.Timer15;\n    timers[15] = timer.Timer16;\n}\n\n// check single update message\nif ('Timer1' in msg.payload){\n    timers[0] = msg.payload.Timer1;\n}\n\nif ('Timer2' in msg.payload){\n    timers[1] = msg.payload.Timer2;\n}\n\nif ('Timer3' in msg.payload){\n    timers[2] = msg.payload.Timer3;\n}\n\nif ('Timer4' in msg.payload){\n    timers[3] = msg.payload.Timer4;\n}\n\nif ('Timer5' in msg.payload){\n    timers[4] = msg.payload.Timer5;\n}\n\nif ('Timer6' in msg.payload){\n    timers[5] = msg.payload.Timer6;\n}\n\nif ('Timer7' in msg.payload){\n    timers[6] = msg.payload.Timer7;\n}\n\nif ('Timer8' in msg.payload){\n    timers[7] = msg.payload.Timer8;\n}\n\nif ('Timer9' in msg.payload){\n    timers[8] = msg.payload.Timer9;\n}\n\nif ('Timer10' in msg.payload){\n    timers[9] = msg.payload.Timer10;\n}\n\nif ('Timer11' in msg.payload){\n    timers[10] = msg.payload.Timer11;\n}\n\nif ('Timer12' in msg.payload){\n    timers[11] = msg.payload.Timer12;\n}\n\nif ('Timer13' in msg.payload){\n    timers[12] = msg.payload.Timer13;\n}\n\nif ('Timer14' in msg.payload){\n    timers[13] = msg.payload.Timer14;\n}\n\nif ('Timer15' in msg.payload){\n    timers[14] = msg.payload.Timer15;\n}\n\nif ('Timer16' in msg.payload){\n    timers[15] = msg.payload.Timer16;\n}\n\nglobal.set(\"timers\", timers);",
        "outputs": 1,
        "noerr": 0,
        "x": 606,
        "y": 597,
        "wires": [ [] ]
    },
    {
        "id": "7b7ba3a8.0c2a74",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "get power values from memory",
        "func": "\nmsg.payload = global.get(\"timers\");\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 368,
        "y": 821,
        "wires": [ [ "2f3faea7.ba552a" ] ]
    },
    {
        "id": "e847f653.6887",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/timers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 108,
        "y": 820,
        "wires": [ [ "7b7ba3a8.0c2a74" ] ]
    },
    {
        "id": "2f3faea7.ba552a",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610.5,
        "y": 821,
        "wires": []
    },
    {
        "id": "9941f75.5631908",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "TimerUpdater",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 238,
        "y": 251,
        "wires": [ [ "30ffda8d.dd37ce" ] ]
    },
    {
        "id": "30ffda8d.dd37ce",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/timers",
        "qos": "",
        "retain": "",
        "broker": "a521b92e.e146e",
        "x": 490.5,
        "y": 250,
        "wires": []
    },
    {
        "id": "885e4a33.785378",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/timer/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 899,
        "wires": [ [ "ef9025d7.0f90d" ] ]
    },
    {
        "id": "90e444bf.7ef09",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "a521b92e.e146e",
        "x": 604.5,
        "y": 897,
        "wires": []
    },
    {
        "id": "ef9025d7.0f90d",
        "type": "template",
        "z": "179365e6.80a25a",
        "name": "page",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cmnd/sonoff/timer{{req.params.id}}",
        "x": 425.5,
        "y": 898,
        "wires": [ [ "90e444bf.7ef09", "de1c562b.158b48" ] ]
    },
    {
        "id": "de1c562b.158b48",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 604.5,
        "y": 965,
        "wires": []
    },
    {
        "id": "e955b54.d8ee748",
        "type": "function",
        "z": "179365e6.80a25a",
        "name": "Delete timers",
        "func": "\ntimers = undefined;\n\nglobal.set(\"timers\", timers);",
        "outputs": 1,
        "noerr": 0,
        "x": 973,
        "y": 35,
        "wires": [ [] ]
    },
    {
        "id": "ecb1235b.16b328",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 778.5,
        "y": 34,
        "wires": [ [ "e955b54.d8ee748" ] ]
    },
    {
        "id": "48c183a2.b89e7c",
        "type": "debug",
        "z": "179365e6.80a25a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 378.5,
        "y": 626,
        "wires": []
    },
    {
        "id": "77a2f3d2.2dcaec",
        "type": "http in",
        "z": "179365e6.80a25a",
        "name": "",
        "url": "/prices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 189,
        "y": 1267,
        "wires": [ [ "fffada59.9d8c2", "586630ac.1da3e8" ] ]
    },
    {
        "id": "fffada59.9d8c2",
        "type": "http request",
        "z": "179365e6.80a25a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:9000/?date={{req.query.date}}",
        "tls": "",
        "x": 437.5,
        "y": 1265,
        "wires": [ [ "f5a18fb3.48b9d" ] ]
    },
    {
        "id": "f5a18fb3.48b9d",
        "type": "http response",
        "z": "179365e6.80a25a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 631.5,
        "y": 1268,
        "wires": []
    },
    {
        "id": "586630ac.1da3e8",
        "type": "template",
        "z": "179365e6.80a25a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 1000000, 0, 1000000, 1000000, 1000000]",
        "output": "str",
        "x": 409.5,
        "y": 1341,
        "wires": [ [] ]
    },
    {
        "id": "d56de80c.6ef018",
        "type": "mqtt out",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "cmnd/sonoff/timezone",
        "qos": "",
        "retain": "",
        "broker": "a521b92e.e146e",
        "x": 401,
        "y": 134,
        "wires": []
    },
    {
        "id": "c3be0b85.6e7678",
        "type": "inject",
        "z": "179365e6.80a25a",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 142,
        "wires": [ [ "d56de80c.6ef018" ] ]
    },
    {
        "id": "a521b92e.e146e",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node_red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]